*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
/.vscode/*
!/.vscode/settings.json
/gradle/gradle-daemon-jvm.properties
_site/
.kotlin/
**/replay-validation-test/
