POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=bubble_penetration
REDIS_URL=redis://localhost:6379
TRUST_PROXY_HOPS=1
LOG_LEVEL='DEBUG'
NODE_ENV='development'
